<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xjy.android.treasure">

    <application>

        <provider
            android:name=".provider.TreasureProvider"
            android:authorities="@string/org_xjy_android_treasure_authority"
            android:exported="false"
            android:multiprocess="false" />

    </application>

</manifest>
